<section class="index-section" id="park-summaries-index">
  <%= render 'layouts/table_search_bar' %>
  <table class="table table-striped table-sm table-hover table-responsive summary-table">
    <thead class="thead-inverse">
      <tr>
        <th class="col1"><%= sort_link @q, :id, '#' %></th>
        <th class="col2"><%= sort_link @q, :park_name, 'Park name' %></th>
        <th class="col3"><%= sort_link @q, :park_type, 'Park type' %></th>
        <th class="col4"><%= sort_link @q, :park_service_area, 'Park service area' %></th>
        <th class="col5"><%= sort_link @q, :psa_manager, 'Psa manager' %></th>
        <th class="col6"><%= sort_link @q, :email, 'Email' %></th>
        <th class="col7"><%= sort_link @q, :number, 'Number' %></th>
        <th class="col8"><%= sort_link @q, :zipcode, 'Zipcode' %></th>
        <th class="col9"><%= sort_link @q, :acreage, 'Acreage' %></th>
        <th class="col10"><%= sort_link @q, :sup_dist, 'Sup dist' %></th>
        <th class="col11"><%= sort_link @q, :parkid, 'Parkid' %></th>
        <th class="col12"><%= sort_link @q, :location, 'Location' %></th>
      </tr>
    </thead>

    <tbody class="scrollable">
      <% @park_summaries.each do |park_summary| %>
        <tr>
          <th scope="row" class="col1"><%= park_summary.id %></td>
          <td class="col2"><%= park_summary.park_name %></td>
          <td class="col3"><%= park_summary.park_type %></td>
          <td class="col4"><%= park_summary.park_service_area %></td>
          <td class="col5"><%= park_summary.psa_manager %></td>
          <td class="col6"><%= park_summary.email %></td>
          <td class="col7"><%= park_summary.number %></td>
          <td class="col8"><%= park_summary.zipcode %></td>
          <td class="col9"><%= park_summary.acreage %></td>
          <td class="col10"><%= park_summary.sup_dist %></td>
          <td class="col11"><%= park_summary.parkid %></td>
          <td class="col12"><%= park_summary.location %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @park_summaries %>
</section>
